<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobHub</title>
</head>
<body>
    <main>
        <h1>Введите код и новый пароль</h1>
        <form method="POST">
            {% csrf_token %}
            <label>Секретный ключ:</label>
            <input name="SECRET_KEY" type="password"></input><p></p>
            <label>Код:</label>
            <input name="code"></input><p></p>
            <label>Новый пароль:</label>
            <input name="password", type="password"></input><p></p>
            <label>Введите пароль ещё раз:</label>
            <input name="password_again"></input><p></p>           

            {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
            {% endfor %}

            <button type="submit">Отправить код на почту</button>
        </form>
    </main>

    <footer>

    </footer>
</body>