<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobHub</title>
</head>
<body>
    <main>
        <h1>Вход в аккаунт</h1>
        <form method="POST">
            {% csrf_token %}
            <label>Секретный ключ:</label>
            <input name="SECRET_KEY" type="password"></input><p></p>
            {{ form.as_p }}

            {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
            {% endfor %}
            
            <button type="submit">Войти</button>
            <a href="{% url 'restore_password' %}">Восстановить пароль</a>
        </form>
    </main>

    <footer>

    </footer>
</body>